@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50 text-slate-800 antialiased dark:bg-slate-900 dark:text-white transition-colors duration-300;
  }
}